extends layout
block content
  app-root ... only this page using Angular!
  p=encrypt
  base(href='/')
  link(rel='stylesheet', href='/css/style.css')
  script(type='text/javascript', src='inline.bundle.js')
  script(type='text/javascript', src='polyfills.bundle.js')
  script(type='text/javascript', src='styles.bundle.js')
  script(type='text/javascript', src='vendor.bundle.js')
  script(type='text/javascript', src='main.bundle.js')

