doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title= title
    base(href='/')
    link(rel='api', href='api')
    link(rel='icon', href='favicon.png' type='image/png')
    //- https://unpkg.com/vue
    //- <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    //- <script src="https://unpkg.com/vue-router@3.0.7/dist/vue-router.js"></script>
    //- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    script(src='/vue.js')
    script(src='/vue-resource.js')
    script(src='/vue-router.js')
    //- script(src='https://unpkg.com/vue-plyr/dist/vue-plyr.js')
    //- link(rel='stylesheet', href='https://unpkg.com/vue-plyr/dist/vue-plyr.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    block content
    script(type='text/javascript', src='/script.js')
    link(rel='stylesheet', href='/style.css')
