<div class="zm">
  <div v-if="activeAlbum.length" class="mw middle center">
    <div v-for="album in activeAlbum" class="col-2">
      <div class="left middle center">
        <div class="info-detail album">
          <!-- <div class="disc icon-albums">
            <p class="play">
              <span class="icon-play" @click="playAlbum(album.ui)"></span>
            </p>
            <p class="length icon-time" v-text="formatTimer(album.tk)"></p>
            <p class="total icon-music" v-text="album.tk.length"></p>
          </div>
          <div class="meta">
            <h1>
              <router-link :to="{ path: '/album/'+album.ui}">{{album.ab}}</router-link>
            </h1>
            <p class="info">
              <a v-for="genre in album.gr" v-text="genre" class="genre"></a>
              <a v-for="year in album.yr" v-text="year" class="year"></a>
              <span class="total icon-flag">{{album.tk | sumplay}}</span>
            </p>
            <p class="artist">
              <router-link v-for="artist in albumArtist(album.tk)" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
            </p>
          </div> -->
          <div class="count">
            <span class="plays icon-flag">{{album.tk | sumplay}}</span>
            <span class="time icon-time">{{formatTimer(album.tk)}}</span>
            <span class="track icon-music">{{album.tk.length}}</span>
          </div>

          <div class="name album">
            <span v-text="album.ab"></span>
          </div>

          <div class="play">
            <span @click="playAlbum(album.ui)">Play all</span>
          </div>

          <div v-if="album.gr.length" class="genre">
            <!-- <q>Genre</q> -->
            <a v-for="genre in album.gr" v-text="genre"></a>
          </div>

          <div v-if="album.yr.length" class="year">
            <!-- <q>Year</q> -->
            <a v-for="year in album.yr" v-text="year"></a>
          </div>

          <div class="artist">
            <!-- <q>Artist</q> -->
            <router-link v-for="artist in albumArtist(album.tk)" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
          </div>



        </div>
      </div>
      <div class="main">
        <div class="track-row" v-if="album.tk.length">
            <track-row v-for="track in album.tk" v-bind:track="track" :key="track.id" />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="middles center max">
    <div class="col-1-">
      <div v-if="albums.length" class="album-raw">
        <div v-if="langs.length" class="show-lang badge-tag">
          <router-link v-for="(lg,index) in langs" :to="{ path: '/album/'+lg.name}" :key="index">{{lg.name}}</router-link>
        </div>
        <album-raw v-for="(n, index) in albumsLimit" v-bind:album="albums[index]" :key="index" />
        <div v-if="albums.length > albumsLimit" class="show-more">
          <p @click="albumsLimit += 9" class="icon-right">
            <span v-text="albumsLimit" class="limit"></span><span v-text="albums.length" class="total"></span><span class="more">more</span>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
