<div class="album">
  <div v-if="activeAlbum.length" class="album-detail-tmp">
    <div v-for="album in activeAlbum">
      <div class="album-detail left">
        <div class="disc icon-albums">
          <p class="play">
            <span class="icon-play" @click="playAlbum(album.ui)"></span>
          </p>
          <p class="length icon-time" v-text="formatTimer(album.tk)"></p>
          <p class="total icon-music" v-text="album.tk.length"></p>
        </div>
        <div class="meta">
          <h1>
            <router-link :to="{ path: '/album/'+album.ui}">{{album.ab}}</router-link>
          </h1>
          <p class="info">
            <a v-for="genre in album.gr" v-text="genre" class="genre"></a>
            <a v-for="year in album.yr" v-text="year" class="year"></a>
            <span class="total icon-flag">{{album.tk | sumplay}}</span>
          </p>
          <p class="artist">
            <router-link v-for="artist in albumArtist(album.tk)" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
          </p>
        </div>
      </div>
      <div class="track-row main" v-if="album.tk.length">
        <track-row v-for="track in album.tk" v-bind:track="track" :key="track.id" />
      </div>
    </div>
  </div>

  <div v-else class="album-list">
    <div v-if="langs.length" class="badge-tag show-lang">
      <router-link v-for="(lg,index) in langs" :to="{ path: '/album/'+lg.name}" :key="index">{{lg.name}}</router-link>
    </div>
    <div v-if="albums.length" class="album-raw center">
      <album-raw v-for="(n, index) in limitAlbum" v-bind:album="albums[index]" :key="index" />
      <div v-if="albums.length > limitAlbum" class="show-more">
        <p @click="limitAlbum += 9" class="icon-right">
          <span v-text="albums.length" class="total">/</span><span v-text="limitAlbum" class="limit"></span> more
        </p>
      </div>
    </div>
  </div>
</div>