<div class="album">
  <template v-if="activeAlbum.length">
    <div v-for="album in activeAlbum" class="container detail">
      <div class="row center count">
        <div class="plays">
          <p class="icon-headphones active"><span>{{album.tp}}</span></p>
        </div>
        <div class="time ">
          <p class="icon-time active"><span v-text="$.albumDuration(album)"></span></p>
        </div>
        <div class="track">
          <p class="icon-music" v-bind:class="{ active: album.tk.length }"><span v-text="album.tk.length"></span></p>
        </div>
      </div>
      <div class="row center head">
        <h1 v-text="album.ab"></h1>
      </div>
      <div v-if="album.yr.length" class="row center year">
        <a v-for="year in album.yr" v-text="year"></a>
      </div>
      <div class="row center play">
        <span @click="$.playAlbum(album.ui)" class="play all">Play all</span>
      </div>
      <div v-if="album.gr.length" class="row center genre">
        <a v-for="genre in $.albumGenre(album)" v-text="genre"></a>
      </div>
      <div class="row center middle artists name-artist">
        <router-link v-for="artist in $.albumArtist(album)" :to="{ path: '/artist/'+artist.toLowerCase()}" :key="artist">{{artist}}</router-link>
      </div>
      <div class="row tracks bg- sh-">
        <div class="main track-row" v-if="album.tk.length">
          <track-row v-for="track in album.tk" v-bind:track="track" :key="track.i" />
        </div>
      </div>
    </div>
  </template>
  <template v-else>
    <div class="container list">
      <div v-if="$.all.lang.length" class="row center tag show-lang badge-tag-">
        <router-link v-for="(lang,index) in $.all.lang" :to="{ path: '/album/'+lang.name}" :key="index" class="icon-lightbulb">{{lang.name}}</router-link>
        <!-- <router-link :to="{ path: '/album/abc'}" class="icon-lightbulb">None</router-link> -->
      </div>
      <div v-if="albums.length" class="album-raw">
        <!-- <div v-if="all.lang.length" class="show-lang badge-tag">
          <router-link v-for="(lang,index) in all.lang" :to="{ path: '/album/'+lang.name}" :key="index">{{lang.name}}</router-link>
        </div> -->
        <album-raw v-for="(n, index) in albumsLimit" v-bind:album="albums[index]" :key="index" />
        <!-- <div v-if="albums.length > albumsLimit" class="show-more">
          <p @click="albumsLimit += 9" class="icon-right">
            <span v-text="albumsLimit" class="limit"></span><span v-text="albums.length" class="total"></span><span class="more">more</span>
          </p>
        </div> -->
      </div>
      <div v-if="albums.length > albumsLimit" class="row center show-more">
        <p @click="albumsLimit += 9" class="icon-right">
          <span v-text="albumsLimit" class="limit"></span><span v-text="albums.length" class="total"></span><span class="more">more</span>
        </p>
      </div>
    </div>
  </template>
</div>
