
<div class="zm">
  <div class="mw middle center">
    <div class="col-2">
      <div class="left">left</div>
      <div class="main">main</div>
    </div>
  </div>
  <template>
    <a href="/api/testing">Api testing</a>
  </template>
  <!-- <div class="mw middle center">
    <h1 class="text-vw">Zaideih Music Station</h1>
    <ol>
      <li v-for="item in $parent.testPlayerEvent" v-text="item"></li>
    </ol>
  </div> -->
</div>
    <!-- <div class="mw middle center">
      <h1 class="text-vw">Zaideih Music Station</h1>
      <ol>
        <li v-for="item in $parent.testPlayerEvent" v-text="item"></li>
      </ol>
    </div>
    <div class="middles center">
      <h1 class="text-vw">Zaideih Music Station</h1>
      <ol>
        <li v-for="item in $parent.testPlayerEvent" v-text="item"></li>
      </ol>
    </div>
    <div class="mw middles center">
      <h1 class="text-vw">Zaideih Music Station</h1>
      <ol>
        <li v-for="item in $parent.testPlayerEvent" v-text="item"></li>
      </ol>
    </div> -->
<!-- <div class="lm-wrap middle center mw">
  <div class="lm-container">
    <div class="left testing">
      <div>left  middle center mw</div>Set both the justify-content and align-items properties to center, and the flex item will be perfectly centered:
    </div>
    <div class="main testing">
      <div>main <br>Set both the justify-content and align-items properties to center, and the flex item will be perfectly centered: </div>
    </div>
    <div class="right testing">
      <div>right</div>
    </div>
  </div>
  <div class="lm-container">
    <div class="left testing">
      <div>left  middle center mw</div>Set both the justify-content and align-items properties to center, and the flex item will be perfectly centered:
    </div>
    <div class="main testing">
      <div>main <br>Set both the justify-content and align-items properties to center, and the flex item will be perfectly centered: </div>
    </div>
    <div class="right testing">
      <div>right</div>
    </div>
  </div>
</div> -->
<!-- <div class="lf1">
  <div class="lr3">
    <div class="left">left</div>
    <div class="main">main</div>
    <div class="right">right</div>
  </div>
  <div class="lr3">
    <div class="left">left</div>
    <div class="main">main</div>
  </div>
  <div class="lr3">
    <div class="left">left</div>
    <div class="right">right</div>
  </div>
</div> -->

<!-- <div class="portal" id="content" >
  <div class="resize center">
      <div class="tmp">
          <h1>Home</h1>
          <ul>
            <li @click="todoInsert">
              add todo
            </li>
            <li>
              <input v-model="$parent.message" v-on:keyup.enter="onEnter" placeholder="edit me">
              <p>Message is: {{ $parent.message }}</p>
            </li>
          </ul>

          <ol v-if="todos.length" class="todos">
            <li v-for="(item, index) in todos" @click="todoDelete(index)">
              todo: {{ item.title }}
            </li>
          </ol>
          <ol v-else>
            <li>Nothing to do???</li>
          </ol>
      </div>
  </div>
</div> -->