<!-- <div class="portal" id="content" >
  <div class="resize center">
      <div class="tmp">
          <h1>Home</h1>
          <ul>
            <li @click="todoInsert">
              add todo
            </li>
            <li>
              <input v-model="$parent.message" v-on:keyup.enter="onEnter" placeholder="edit me">
              <p>Message is: {{ $parent.message }}</p>
            </li>
          </ul>

          <ol v-if="todos.length" class="todos">
            <li v-for="(item, index) in todos" @click="todoDelete(index)">
              todo: {{ item.title }}
            </li>
          </ol>
          <ol v-else>
            <li>Nothing to do???</li>
          </ol>
      </div>
  </div>
</div> -->
<div class="lfm">
  <div>
    <h1 class="text-vw">Zaideih Music Station</h1>
  </div>
</div>
<!-- <div>
  <div class="lr3">
    <div class="left">left</div>
    <div class="main">main</div>
    <div class="right">right</div>
  </div>
  <div class="lr3">
    <div class="left">left</div>
    <div class="main">main</div>
  </div>
  <div class="lr3">
    <div class="left">left</div>
    <div class="right">right</div>
  </div>
</div> -->