&.gospel{
  border-bottom-color: lighten(bisque,5);
  &::before{
    color: lighten(bisque,5);
  }
}
&.alternative{
  border-bottom-color: lighten($ColorBackground,4);
  &::before{
    color: lighten($ColorBackground,4);
  }
}
&.classical{
  border-bottom-color: lighten($ColorBackground,25);
  &::before{
    color: lighten($ColorBackground,25);
  }
}
&.contemporary{
  border-bottom-color: lighten($ColorBackground,10);
  &::before{
    color: lighten($ColorBackground,10);
  }
}
&.christian{
  border-bottom-color: darken(azure,7);
  &::before{
    color: darken(azure,7);
  }
}
&.classic{
  border-bottom-color: lighten($ColorBackground,7);
  &::before{
    color: lighten($ColorBackground,7);
  }
}
&.blues{
  border-bottom-color: lighten(azure,7);
  &::before{
    color: lighten(azure,7);
  }
}
&.rock{
  border-bottom-color: lighten(red,40);
  &::before{
    color: lighten(red,40);
  }
}
&.country{
  border-bottom-color: darken(beige,2);
  &::before{
    color: darken(beige,2);
  }
}
&.pop{
  border-bottom-color:darken(beige,7);
  &::before{
    color: darken(beige,7);
  }
}
&.tribal{
  border-bottom-color:azure;
  &::before{
    color:azure;
  }
}
&.worship{
  border-bottom-color:azure;
  &::before{
    color:azure;
  }
}
&.hymn{
  border-bottom-color:antiquewhite;
  &::before{
    color:antiquewhite;
  }
}
&.religious{
  border-bottom-color:aquamarine;
  &::before{
    color:aquamarine;
  }
}