div{
  ul{
    list-style: none;
    &.panel{
      display: none;
    }
    li{
      display: inline-block;
    }
  }
  &.menu{
    ul.nav{
      li{
        text-align: center;
        border-bottom:2px solid transparent;
        a {
          display: block;
          padding:4px 7px;
          color:$Color;
          height: 17px;
          // font-size: 16px;
          &::before{
            text-shadow: 0px 1px lighten(#666,25);
            // display: none;
          }
          span {
            display: inline;
          }

        }
        &::after{
          content: '';
          display: block;
          width: 0;
          margin: 0 auto;
          height: 2px;
          border-radius: 100px;
          background:darken($ColorMain,0);
          transition: width .3s;
        }
        &:hover::after{
          width: 100%;
        }
        &:not(.home).router-link-active::after {
          background:darken($ColorMain,0);
          width: 100%;
        }
        &.router-link-exact-active {
          &::after{
            background:darken($ColorMain,0);
            width: 100%;
          }
          a {
            color: darken($ColorMain,0);
          }
        }
        &.logo{
          // width: 50px;
          // margin: 0 7px;
          // &.router-link-active{
          //   background-color: transparent;
          // }
          // &.router-link-exact-active{
          //   background-color: darken($ColorMain,0);
          // }
          a{
            // background-color: lighten($ColorBackground,5);
            background-color: transparent;
            background-image: url('../img/logo.png');
            background-size: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            width: 50px;
            height: 27px;
            // border-radius: 3px;
            // background-color: red;
          }
        }
      }
    }
  }
  &.opt{
    text-align: right;
  }
}
@media #{$media-mobile} {
  ul{
    li {
      a{
        font-size: 107%;
      }
    }
  }
}
@media #{$media-tablet} {
}