// wrapper, container, row
div {
  &.wrapper{
    display: flex;
    flex-wrap: wrap;
    // flex-wrap: nowrap;
    flex-flow: row wrap;
    flex-direction: column;
    // flex:1 1 600px;
    // flex-basis: 300px;
    // flex-shrink: 1;
    // flex-grow: 1;
    padding-top:20px;
    padding-bottom:20px;
    div.container{
      &.detail{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-between;
        flex-grow: 1;
      }
      // &.list{
      //   max-width: $WidthDesktop;
      //   margin: 0 auto;
      // }
    }
    div.row{
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      flex-flow: row wrap;
      // padding:4px;
      &.center{
        justify-content: center;
        align-self: center;
      }
      &.middle{
        align-content: center;
      }
      &.bg{
        background-color: darken($ColorBackground,4);
        position: relative;
        overflow: hidden;
      }
      &.sh{
        @include box-shadow( 0px -1px 10px 0px,darken(#fff,30));
      }
      &.loading{
        p{
          padding: 20px;
        }
      }
      &.head{
        padding-top:2vw;
        padding-bottom:2vw;
        text-align: center;
      }
      &.play{
        padding-top:20px;
        padding-bottom:20px;
      }
      &.desc {
        max-width: 700px;
        p{
          padding: 20px;
          text-align: center;
          font-size: 1.3em;
          color: lighten($Color,10);
          em{
            color: darken($Color,10);
          }
          strong{
            color: darken($Color,20);
            @include text-shadow(0px,1px,1px,darken($Color,50));
          }
        }
      }
      &.board {
        justify-content: space-around;
        align-content:center;
        max-width: 900px;
        // flex:0 0 100px;
        margin: 30px auto;
        >div {
          flex:1 1 230px;
          flex-basis: 250px;
          margin: 10px;
          border-radius: 3px;
          background-color:$ColorMain;
          p {
            display: block;
            padding:30px 20px;
            font-size: 1.4em;
            // font-size:5vw;
            color: lighten($Color,100);
            &::after{
              content:'...';
              color: lighten($Color,50);
            }
            span {
              color: lighten($Color,80);
              @include text-shadow(0px,1px,1px,lighten($Color,30));
            }
          }
          // &:hover {
          //   background-color:darken($ColorMain,6);
          //   a {
          //     &::before{
          //       color: lighten($Color,40);
          //     }
          //   }
          // }
        }
      }
      &.count {
        margin:10px auto;
        flex-wrap: wrap;
        >div {
          padding: 2px 10px;
          p {
            font-size: 1.3em;
            color: darken($Color,25);
            @include text-shadow(0px,1px,1px,darken($ColorBackground,20));
            text-align: center;
            span {
              display: block;
            }
            &::before {
              margin: 10px auto;
              font-size: 1.5em;
              color: darken($Color,25);
            }
            &.active{
              color: darken($Color,15);
              @include text-shadow(0px,1px,1px,darken($ColorBackground,20));
              &::before {
                color: darken($Color,20);
              }
            }
          }
        }
      }
      &.genre{
        a{
          text-transform: capitalize;
          padding: 2px 4px;
        }
      }
      &.year{
        a{
          padding: 2px 7px;
          border-radius: 2px;
          margin: 2px;
          background-color:darken($ColorBackground,10);
        }
      }
      &.tag{
        margin: 20px auto;
        align-content:center;
        a {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        @media #{$media-mobile} {
          a {
            flex-grow: 1;
          }
        }
      }
      &.artists{
        margin:20px auto;
        max-width: $WidthMaxCommon;
        // flex-wrap: wrap;
      }
      &.tracks{
        div.track-row{
          // max-width: 1000px;
          max-width: $WidthMaxCommon;
          margin: 0 auto;
        }
      }
      // NOTE: left middle right
      &.lmr {
        justify-content: space-around;
        align-content:center;
        flex: 1;
        >div {
          flex:1 1 600px;
          flex-basis: 300px;
          margin: 2px;
          p {
            background-color: red;
          }
          &.main{
            flex: 1;
            flex-basis: 600px;

          }
        }
      }
      // NOTE: left and right
      &.lar {
        justify-content: space-around;
        align-content:center;
        flex: 1;
        >div {
          flex:1 1 600px;
          // flex-basis: 300px;
          margin: 2px;
          p {
            background-color: red;
          }
          &.left{
            flex-basis: 400px;
          }
          &.right{
            flex-basis: 500px;
          }
        }
      }
      // NOTE: not in used
      &.bar {
        justify-content: space-around;
        align-content:center;
        flex: 1;
        >div {
          flex:1 1 50px;
          flex-basis: 50px;
          margin: 2px;
          p {
            background-color: red;
          }
          // &.left{
          //   flex: 1;
          // }
          &.main{
            // flex: 1;
            flex-basis: 250px;

          }
          // &.right{
          //   flex: 1;
          // }
        }

      }
      &.most{
        text-align: center;
        max-width: $WidthMaxCommon;
        >div{
          // justify-content: space-around;
          // align-content:center;
          // flex-direction: row;
          // margin: 10px 50px;
          h2{
            margin: 30px 10px;
            a{
              font-style: normal;
              border-radius: 100px;
              // margin:5px;
              padding: 5px 15px;
              // padding: 7px 10px;
              // background-color:lighten($ColorBackground,3);
              background-color:lighten($ColorMain,20);
              color: darken($Color,20);
              // color: darken($Color,40);
              // border-radius: 100px;
              // background-color: darken($ColorBackground,10);
              text-transform: uppercase;
            }
          }
        }
      }
    }

    &.home{
      div{
        &.dco {
          margin: 20px auto;
          justify-content: space-around;
          >div {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            flex:1 1 170px;
            margin:5px;
            border-radius: 3px;
            background-color:darken($ColorBackground,10);
            @include box-shadow(0px 1px 2px 0px,rgba(0,0,0,0.6));
            div {
              // display: block;
              padding:30px 20px;
              // font-size:5vw;
              color: lighten($Color,100);

              span,em {
                display: inline-block;
              }
              span {
                font-size: 1.3em;
                text-transform: capitalize;
                padding-left:8px;
                border-radius: 100px;
              }
              p {
                font-size: 0.9em;
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
  }
}