<div class="wrapper music">
  <div v-if="searchQuery">
    <div v-if="searchResult">
      <!-- <h1><strong>{{searchQuery}}</strong> found match</h1> -->
      <div class="lr3" v-if="tracks.length">
        <div class="left">
          title match: <span v-text="tracks.length"></span>
        </div>
        <div class="main track-row" v-if="tracks.length">
          <!-- <track-row v-for="track in tracks" v-bind:track="track" :key="track.id" /> -->
          <track-row v-for="(n, index) in limitTrack" v-bind:track="tracks[index]" :key="index" />
          <div v-if="tracks.length > limitTrack" class="show-more">
            <p @click="limitTrack += 9" class="icon-right">
              <span v-text="tracks.length" class="total"></span><span v-text="limitTrack" class="limit"></span> more
            </p>
          </div>
        </div>
      </div>
      <div class="lfm" v-if="artists.length">
        <div>
          <p class="name-vw">
            <router-link v-for="artist in artists" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
          </p>
        </div>
      </div>
      <!-- <div class="track-row" v-if="tracks.length">
        <track-row v-for="track in tracks" v-bind:track="track" :key="track.id" />
      </div> -->
      <!-- <div v-if="artists.length" class="badge-tag artist-name related">
        <strong>Artist</strong> <router-link v-for="artist in artists" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
      </div> -->
      <div v-if="albums.length" class="album-raw center">
        <!-- <h2>album</h2> -->
        <!-- <album-raw v-for="(album,index) in albums" v-if="album" v-bind:album="album" :key="index" /> -->
        <album-raw v-for="(n, index) in limitAlbum" v-bind:album="albums[index]" :key="index" />
        <div v-if="albums.length > limitAlbum" class="show-more">
          <p @click="limitAlbum += 9" class="icon-right">
            <span v-text="albums.length" class="total"></span><span v-text="limitAlbum" class="limit"></span> more
          </p>
        </div>
      </div>

      <div class="lr3 middle" v-if="tracksByArtist.length">
        <div class="left">
          related: get tracks belongs to the first artist
          play all, length, plays
        </div>
        <div class="main track-row">
          <!-- <track-row v-for="track in tracksByArtist" v-bind:track="track" :key="track.id" /> -->
          <track-row v-for="(n, index) in limitTrackByArtist" v-bind:track="tracksByArtist[index]" :key="index" />
          <div v-if="tracksByArtist.length > limitTrackByArtist" class="show-more">
            <p @click="limitTrackByArtist += 9" class="icon-right">
              <span v-text="tracksByArtist.length" class="total">/</span><span v-text="limitTrackByArtist" class="limit"></span> more
            </p>
          </div>
        </div>
      </div>

      <div v-if="albumsRecommended.length" class="album-raw center">
        <!-- <h2>recommended: no albums found, therefore get all album from result</h2> -->
        <!-- <album-raw v-for="(album,index) in albumsRecommended" v-if="album" v-bind:album="album" :key="index" /> -->
        <album-raw v-for="(n, index) in limitAlbumRecommended" v-bind:album="albumsRecommended[index]" :key="index" />
        <div v-if="albumsRecommended.length > limitAlbumRecommended" class="show-more">
          <p @click="limitAlbumRecommended += 9" class="icon-right">
            <span v-text="albumsRecommended.length" class="total">/</span><span v-text="limitAlbumRecommended" class="limit"></span> more
          </p>
        </div>
      </div>
      <div v-if="albumsRelated.length" class="album-raw center">
        <!-- <h2>related: albums found, there are related album too</h2> -->
        <!-- <album-raw v-for="(album,index) in albumsRelated" v-if="album" v-bind:album="album" :key="index" /> -->
        <album-raw v-for="(n, index) in limitAlbumRelated" v-bind:album="albumsRelated[index]" :key="index" />
        <div v-if="albumsRelated.length > limitAlbumRelated" class="show-more">
          <p @click="limitAlbumRelated += 9" class="icon-right">
            <span v-text="albumsRelated.length" class="total">/</span><span v-text="limitAlbumRelated" class="limit"></span> more
          </p>
        </div>
      </div>
    </div>
    <div v-else>
      <h1><strong>{{searchQuery}}</strong> did not match in Title, Artist and Album.</h1>
      <ul>
        <li>Make sure <span>{{searchQuery}}</span> is spelt correctly.</li>
        <li>Try general keywords</li>
        <li>Try different keywords.</li>
      </ul>
    </div>
    <!-- <ul>
      <li v-for="(tmp,index) in limitResult" v-if="results[index]">
        <h2>{{results[index].ab}}</h2>
        <ol v-if="results[index].tk.length">
          <li v-for="track in results[index].tk" v-text="track.tl"></li>
        </ol>
      </li>
    </ul>
    <div v-if="results.length > limitResult" class="more-link">
      <button @click="more">more</button>
    </div> -->
  </div>
  <div v-else>
    <h2>What to do, say hello ten times?</h2>
    <div v-for="index in 10">{{index}} hello</div>
  </div>
</div>