<div class="queue">
  <div v-if="$.queue.length" class="row tracks bg- sh-">
    <div class="track-row">
      <track-row v-for="(n, index) in trackLimit" v-bind:track="$.queue[index]" :key="index" :queued="true" />
      <div v-if="$.queue.length > trackLimit" class="show-more">
        <p @click="trackLimit += 9" class="icon-right">
          <span v-text="trackLimit" class="limit"></span><span v-text="$.queue.length" class="total"></span><span class="more">more</span>
        </p>
      </div>
    </div>
  </div>
  <div v-else class="row center">
    <h1>working: no queue...</h1>
  </div>
</div>