
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-pause:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-play-previous:before { content: '\e805'; } /* '' */
.icon-play-next:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-headphones:before { content: '\e808'; } /* '' */
.icon-cd:before { content: '\e809'; } /* '' */
.icon-music:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-volume-down:before { content: '\e80c'; } /* '' */
.icon-volume-off:before { content: '\e80d'; } /* '' */
.icon-shuffle:before { content: '\e80e'; } /* '' */
.icon-loop:before { content: '\e80f'; } /* '' */
.icon-th:before { content: '\e810'; } /* '' */
.icon-list-add:before { content: '\e811'; } /* '' */
.icon-lightbulb:before { content: '\e812'; } /* '' */
.icon-albums:before { content: '\e815'; } /* '' */
.icon-database:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-diamond:before { content: '\e818'; } /* '' */
.icon-time:before { content: '\e819'; } /* '' */
.icon-track:before { content: '\e81a'; } /* '' */
.icon-artist:before { content: '\e81b'; } /* '' */
.icon-album:before { content: '\e81c'; } /* '' */
.icon-cross:before { content: '\e82f'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-loading:before { content: '\e83b'; } /* '' */
.icon-search:before { content: '\e83d'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right:before { content: '\f006'; } /* '' */
.icon-left:before { content: '\f007'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-panel:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */