<div class="portal" id="content">
    <div class="center">
        <div class="artist">
          <div v-if="artistName && init" class="detail">
            <!-- <div class="head">
              <div>play</div>
              <div>
                <p>artist: {{artistCurrent.join(', ')}}</p>
                <p>playsAlbum: {{playsAlbum}}</p>
                <p>queue is playing: {{$parent.playing}} id:{{$parent.queueId}}</p>
                <p>playsTrack: {{playsTrack}}</p>
                <p>track: {{totalTrack}}</p>
                <p>album: {{totalAlbum}}</p>
                <p>totalLength: {{totalLength}}</p>
                <p>artistRelated: {{artistRelated.join(', ')}}</p>
                <p>artistRecommended: {{artistRecommended.join(', ')}}</p>
                <p class="years">
                  years: {{years.join(', ')}}
                </p>
              </div>
            </div> -->
            <div class="artist-detail">
              <div class="count">
                <span class="icon-flag">{{playsTrack}}</span>
                <!-- <span class="icon-time">{{totalLength}}</span> -->
                <span class="icon-music">{{totalTrack}}</span>
                <span class="icon-cd">{{totalAlbum}}</span>
              </div>

              <h1 class="icon-artist">
                <span v-for="artist in artistCurrent" v-text="artist"></span>
              </h1>

              <div class="play">
                <span class="icon-play" @click="playArtist()">{{totalLength}}</span>
              </div>

            </div>

            <div v-if="years.length" class="badge-tag year">
              <strong>Year</strong> <a v-for="year in years" :key="year">{{year}}</a>
            </div>

            <div v-if="artistRecommended.length" class="badge-tag artist-name recommended">
              <strong>Recommended</strong> <router-link v-for="artist in artistRecommended" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
            </div>

            <div v-if="artistRelated.length" class="badge-tag artist-name related">
              <strong>Related</strong> <router-link v-for="artist in artistRelated" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
            </div>

            <div class="track-row" v-if="tracks.length">
              <track-row v-for="track in tracks" v-bind:track="track" :key="track.id" />
            </div>

            <div v-if="albums.length" class="tmp">
              <album-row v-for="album in albums" v-bind:album="album" :key="album.ui" />
            </div>

          </div>
          <div v-else class="list">

            <ol v-if="artistGrouped.length">
              <li v-for="grouped in artistGrouped" v-if="isNaN(grouped.name)">
                <h3>{{grouped.name}}</h3>
                <ol v-if="grouped.artists.length">
                    <li v-for="artists in grouped.artists" :key="artists">
                      <router-link :to="{ path: '/artist/'+artists}">{{artists}}</router-link>
                    </li>
                </ol>
              </li>
            </ol>

          </div>
        </div>
    </div>
  </div>