<div class="zm">
  <template v-if="artistName && init">

    <!-- info -->
    <!-- <div class="mw middle- center">
      <div class="col-1">
        <div class="center">
          <div class="count">
            <span class="icon-flag">{{playsTrack}}</span>
            <span class="icon-time">{{totalLength}}</span>
            <span class="icon-music">{{totalTrack}}</span>
            <span class="icon-cd">{{totalAlbum}}</span>
          </div>
        </div>
      </div>
    </div> -->

    <!-- artist -->
    <!-- <div class="mw middle- center">
      <div class="col-1">
        <div class="center">
          <span v-for="artist in artistCurrent" v-text="artist"></span>
        </div>
      </div>
    </div> -->

    <!-- play -->
    <!-- <div class="mw middle- center">
      <div class="col-1">
        <div class="center">
          <span class="icon-play" @click="playArtist()">{{totalLength}}</span>
        </div>
      </div>
    </div> -->

    <!-- year -->
    <!-- <div v-if="years.length" class="mw middle- center">
      <div class="col-1">
        <div class="center">
          <strong>Year</strong> <a v-for="year in years" :key="year">{{year}}</a>
        </div>
      </div>
    </div> -->

    <!-- artist recommended -->
    <!-- <div v-if="artistRecommended.length" class="mw middle- center">
      <div class="col-1">
        <div class="center">
          <strong>Recommended</strong> <router-link v-for="artist in artistRecommended" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
        </div>
      </div>
    </div> -->

    <!-- artist related -->
    <!-- <div v-if="artistRelated.length" class="mw middle- center">
      <div class="col-1">
        <div class="center">
          <strong>Related</strong> <router-link v-for="artist in artistRelated" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
        </div>
      </div>
    </div> -->

    <!-- tracks -->
    <div  v-if="tracks.length" class="mw middle center">
      <div class="col-2">
        <div class="left middle- center">
          <div class="info-detail artist">
            <div class="count">
              <span class="plays icon-flag">{{playsTrack}}</span>
              <span class="time icon-time">{{totalLength}}</span>
              <span class="track icon-music">{{totalTrack}}</span>
              <span class="album icon-cd">{{totalAlbum}}</span>
            </div>

            <div class="name artist">
              <span v-for="artist in artistCurrent" v-text="artist"></span>
            </div>

            <div class="play">
              <span @click="playArtist()">Play all</span>
            </div>

            <div v-if="years.length" class="year">
              <a v-for="year in years" :key="year">{{year}}</a>
            </div>

            <div v-if="artistRecommended.length" class="artist recommended">
              <q>Recommended</q>
              <router-link v-for="artist in artistRecommended" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
            </div>

            <div v-if="artistRelated.length" class="artist related">
              <q>Related</q>
              <router-link v-for="artist in artistRelated" :to="{ path: '/artist/'+artist}" :key="artist">{{artist}}</router-link>
            </div>
          </div>
        </div>
        <div class="main middle">
          <div class="track-row center-">
            <track-row v-for="track in tracks" v-bind:track="track" :key="track.id" />
          </div>
        </div>
      </div>
    </div>

    <!-- albums -->
    <div v-if="albums.length" class="middle- center">
      <div class="col-1">
        <div class="album-raw center">
          <!-- <album-row v-for="album in albums" v-bind:album="album" :key="album.ui" /> -->
          <album-raw v-for="album in albums" v-bind:album="album" :key="album.ui" />
        </div>
      </div>
    </div>

  </template>
  <div v-else class="mw middle center">
    <div class="col-1">

      <!-- artists -->
      <div class="z-artists">
        <ol v-if="artistGrouped.length">
          <li v-for="grouped in artistGrouped" v-if="isNaN(grouped.name)">
            <h3>{{grouped.name}}</h3>
            <ol v-if="grouped.artists.length">
                <li v-for="artists in grouped.artists" :key="artists">
                  <router-link :to="{ path: '/artist/'+artists}">{{artists}}</router-link>
                </li>
            </ol>
          </li>
        </ol>
      </div>

    </div>
  </div>
</div>